.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 50px;
  height: 100%;
  background: #444;
  box-shadow: #0005 0 0 10px;
}

.sidebar-lights{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 50px;
  height: calc(75% - 35px);
  overflow: auto;
  scrollbar-width: none;
}

.sidebar-lights::-webkit-scrollbar{
  display: none;
}

.light-label{
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  transform: rotate(-90deg) translate(-45px, -46px);
  margin-bottom: 90px;
  border-left: #555 solid 1px;
  border-right: #555 solid 1px;
  cursor: pointer;
  user-select: none;
  transition: 0.1s;
}

.light-label:hover{
  opacity: 0.75;
}

.lights-label{
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  transform: rotate(-90deg) translate(-75px, -75px);
}