@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

:root {
  font-family: 'Rubik', sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #111;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root{
  height: 100%;
}

html, body{
  height: 100%;
  margin: 0;
  overflow: hidden;
}